<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeroSkillTJJS_LV1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,65},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,195},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,431},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,325},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,260},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,130},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,65},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,195},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,431},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,325},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,130},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,65},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,195},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,431},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,325},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,260},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,195},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,65},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,65},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,130},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,373},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,292},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,211},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,65},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,389},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,308},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,227},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,146},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,65},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,227},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,65},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,171},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,260},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,130},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,390},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,390},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,390},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,454},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,470},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>HeroSkillTJJS_LV3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroSkillTJJS.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbfbd91830195e402f756b08d370b698:1/1$</string>
            <key>textureFileName</key>
            <string>HeroSkillTJJS.png</string>
        </dict>
    </dict>
</plist>
