<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeroSkillSYLB_LV1_100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,779},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>HeroSkillSYLB_LV1_100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,353},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>HeroSkillSYLB_LV1_100003.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,320},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>HeroSkillSYLB_LV1_100004.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,290},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,730},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,681},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,632},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,583},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,534},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,485},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,436},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,387},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,261},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,232},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,203},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,174},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,145},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,116},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,87},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,58},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,29},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_LV3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,0},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1665},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1488},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1444},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1444},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1444},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1665},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1488},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1311},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1134},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1083},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1083},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,722},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,361},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,361},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,0},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_LV3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>HeroSkillSYLB_exp_lv1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,945},{188,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,258}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>HeroSkillSYLB_exp_lv1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,756},{188,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,258}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>HeroSkillSYLB_exp_lv1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,567},{188,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,258}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>HeroSkillSYLB_exp_lv1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,378},{188,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,258}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>HeroSkillSYLB_exp_lv1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,189},{188,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,258}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>HeroSkillSYLB_exp_lv1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,0},{188,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,258}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroSkillSYLB.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133531c84441212c27f6bab6b5f7af7b:1/1$</string>
            <key>textureFileName</key>
            <string>HeroSkillSYLB.png</string>
        </dict>
    </dict>
</plist>
