<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero priest healFx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,292},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,215},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,138},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,61},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,61},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,61},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,61},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,61},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,446},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,369},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,292},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,215},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,138},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,61},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,385},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,231},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest healFx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>hero priest revive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,374},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,325},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,276},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,223},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,276},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,223},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,329},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,280},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,227},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,174},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,174},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,174},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,435},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,382},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,329},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,462},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest revive_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>hero priest swords_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,260},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,191},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,122},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,122},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,122},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,398},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,329},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,260},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,191},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,122},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,398},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,329},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,260},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,191},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,122},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,438},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,369},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>hero priest swords_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,369},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroSkillBQYZ.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b81ecbc1d52b1754e6294cc985891c2:1/1$</string>
            <key>textureFileName</key>
            <string>HeroSkillBQYZ.png</string>
        </dict>
    </dict>
</plist>
