<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeroSpellEffect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,81},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,81},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,405},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,324},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,243},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,162},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,81},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,405},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>HeroSpellEffect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pk_bomb_prepare_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,199},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,199},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,199},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,192},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,192},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,192},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,192},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,162},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,162},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,162},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,155},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,155},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,155},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,118},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,118},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,118},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,81},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,81},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>pk_bomb_prepare_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,81},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroUpgradeEffect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f555edfd64e4714161dd1797f5c98347:1/1$</string>
            <key>textureFileName</key>
            <string>HeroUpgradeEffect.png</string>
        </dict>
    </dict>
</plist>
