<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DwarfWarrior Aura_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,694},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,629},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,564},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,950},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,708},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,708},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,885},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,531},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,387},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,325},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,325},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,260},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,354},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>DwarfWarrior Aura_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,210},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,195},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,195},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,130},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,65},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,65},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,177},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,33},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,0},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>DwarfWarrior Aura_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>SkillSYZR_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,464},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,464},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,427},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,521},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,474},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,427},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,531},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,521},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,474},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,427},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,390},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,390},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,390},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,977},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,940},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,893},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,893},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,856},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,954},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,907},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,860},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,954},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,907},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,860},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,954},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,907},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,860},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,819},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,823},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,819},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,960},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,913},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,866},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,796},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,786},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,759},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,960},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,759},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,913},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,819},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,866},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,960},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,913},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,759},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,819},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,866},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,979},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,932},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,759},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,819},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,885},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,782},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,782},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,745},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,749},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,745},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,708},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,712},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,708},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,675},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,638},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,601},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,564},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroSkillSYZR.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74be2f45f1c9eb826ad40a8c2752e9fc:1/1$</string>
            <key>textureFileName</key>
            <string>HeroSkillSYZR.png</string>
        </dict>
    </dict>
</plist>
