<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HalloweenBoss Fx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>HalloweenBoss Fx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>HalloweenBoss Fx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>HalloweenBoss Fx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>HalloweenBoss Fx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>HalloweenBoss Fx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>HalloweenBoss Fx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>HalloweenBoss Fx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>SkillSYZR_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,326},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,366},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,289},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,289},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,319},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,252},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,282},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,252},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,252},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,475},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,428},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,381},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,334},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,287},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,250},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,250},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,245},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,215},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,215},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,215},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,213},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,213},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,208},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,178},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,178},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,178},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,448},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,401},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,354},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,307},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,260},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,213},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,448},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,401},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,354},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,307},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,260},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,213},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,354},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,307},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,260},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,213},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,176},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,176},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,161},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,141},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,141},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,141},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,141},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,171},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,141},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,139},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,139},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,114},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,104},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,104},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,104},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,104},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,134},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,104},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,67},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,67},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,67},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,67},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,67},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>SkillSYZR_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,67},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroSKillSYZR.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d3e6124d72c77ab2bccda748ca1129:1/1$</string>
            <key>textureFileName</key>
            <string>HeroSKillSYZR.png</string>
        </dict>
    </dict>
</plist>
