<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeroSKillTQYJ00.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,96},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ01.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,83},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,75},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ03.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,66},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,62},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ05.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,50},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,49},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,36},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ08.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,33},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ09.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,23},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ10.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,17},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>HeroSKillTQYJ11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>RJFB_Lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>RJFB_Lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,88},{64,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,19}}</string>
                <key>sourceSize</key>
                <string>{64,19}</string>
            </dict>
            <key>RJFB_Lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,17},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>archer_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,99},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
            <key>ballista__spear.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{57,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,5}}</string>
                <key>sourceSize</key>
                <string>{57,5}</string>
            </dict>
            <key>snipper_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,16}}</string>
                <key>sourceSize</key>
                <string>{82,16}</string>
            </dict>
            <key>wooden_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,67},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Projectiles.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6d4e6bddb3ffe9116ad0bf070977af:1/1$</string>
            <key>textureFileName</key>
            <string>Projectiles.png</string>
        </dict>
    </dict>
</plist>
